#intro01{
    opacity: 0;
}

#intro02{
    opacity: 0;
}

#intro03{
    opacity: 0;
    margin-top: 80px;
}

.fadeIn {
    opacity: 0;
}

.to-top-btn{
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    outline: none;
    border: none;
    background: none;
    font-size: 2rem;
    color: lighten($gray,15%);
    opacity: 0.7;
    z-index: 99;

    &:hover{
        color: $yellow;
        background: none;
    }
}