#intro01{
    opacity: 0;
}

#intro02{
    opacity: 0;
}

#intro03{
    opacity: 0;
    margin-top: 80px;
}

.fadeIn {
    opacity: 0;
}

#to-top-btn{
    display: inline-block;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    outline: none;
    border: 2px solid transparent;
    background: none;
    color: lighten($gray,15%);
    opacity: 0.7;
    z-index: 99;

    &:hover{
        color: $yellow;
        padding: 0 0.5rem;
        border-radius: 50%;
        border: 2px solid $yellow;
    }
}

#to-top-btn::after{
    content: '\02C4';
}

@media(max-width: 576px) {
    #to-top-btn{
        right: 0;
    }
}
